extends layout

block content
  h1= title

  - let costumes=results

  div(class= "container-fluid")
    div(class = "row")
      each costume,index in costumes
        div(class= "col-sm-4 btn btn-light",  onclick=`buy(${index})`) Costume Type: #{costume.costume_type}
        div(class= "col-sm-4 btn btn-light",  onclick=`buy(${index})`) Costume Size: #{costume.size}
        div(class= "col-sm-4 btn btn-light",  onclick=`buy(${index})`) Costume Cost: #{costume.cost}

  script.
    function buy(itemNum){
      alert(`The purchased item is ${itemNum+1}`)
    }