extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let pizzaid = toShow._id 
    - let pizza_type = toShow.pizza_type 
    - let pizzacost = toShow.cost 
    - let pizzasize = toShow.size 
    - let actionid = "/resource/pizza/" + pizzaid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='pizzaAttr mr-3') pizza ID is: 
        div #{pizzaid} 
      div.row 
        div(class='pizzaAttr mr-3') pizza Type is: 
        div #{pizza_type} 
      div.row 
        div(class='pizzaAttr mr-3') pizza Size is: 
        div #{pizzasize} 
      div.row 
        div(class='pizzaAttr mr-3') pizza Cost is: 
        div #{pizzacost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the pizza collection 
      window.location.href='/pizza' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'}).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/pizza' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 