extends layout 
 
block content 
  h1= title 
 
  - let pizzaid = toShow._id 
  - let pizza_type = toShow.pizza_type 
  - let pizzacost = toShow.cost 
  - let pizzasize = toShow.size 
  div(class="d-grid gap-3")  
    div.row 
      div(class='pizzaAttr mr-3 bg-light border border-dark rounded-2 shadow p-2  text-dark') pizza ID is: 
      div(class='pizzaAttr mr-3  bg-dark border border-dark rounded-2 shadow p-2  text-white')
        div #{pizzaid} 
    div.row
      div(class='pizzaAttr mr-3 bg-light border border-dark rounded-3 shadow p-2  text-dark') pizza Type is: 
      div(class='pizzaAttr mr-3 bg-dark border border-dark rounded-2 shadow p-2   text-white')
        div #{pizza_type} 
    div.row 
      div(class='pizzaAttr mr-3 bg-light border border-dark rounded-3 shadow p-2  text-dark') pizza Size is: 
      div(class='pizzaAttr mr-3 bg-dark border border-dark rounded-2 shadow p-2  text-white')
        div #{pizzasize} 
    div.row 
      div(class='pizzaAttr mr-3 bg-light border border-dark rounded-3 shadow p-2  text-dark') pizza Cost is: 
      div(class='pizzaAttr mr-3 bg-dark border border-dark rounded-2 shadow p-2  text-white')
        div #{pizzacost} 