extends layout

block content
  h1= title

  - let pizzas=results

  div(class= "container-fluid")
    div(class = "row")
      each pizza,index in pizzas
        div(class= "col-sm-2 btn btn-light",  onclick=`buy(${index})`) Pizza Type: #{pizza.pizza_type}
        div(class= "col-sm-2 btn btn-light",  onclick=`buy(${index})`) Pizza Size: #{pizza.size}
        div(class= "col-sm-2 btn btn-light",  onclick=`buy(${index})`) Pizza Cost: #{pizza.cost}

  script.
    function buy(itemNum){
      alert(`The purchased item is ${itemNum+1}`)
    }